<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['bin', 'docker', 'var', 'vendor', 'node_modules'])
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'phpdoc_var_without_name' => false,
    ])
    ->setFinder($finder)
;
